h1 {
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

body h2 {
    text-align: center;
}

#y1950s {
    display: flex;
    flex-direction: row;
}

.event {
    width: 50%;
}

#y1960s {
    display: flex;
    flex-direction: row;
}

#y1970s {
    display: flex;
    flex-direction: row;
}

#y1980s {
    display: flex;
    flex-direction: row;
}

#y1990s {
    display: flex;
    flex-direction: row;
}

#y2000s {
    display: flex;
    flex-direction: row;
}

#y2010s {
    display: flex;
    flex-direction: row;
}