html {
    scroll-behavior: smooth;
}

body {
    font-family:"Raleway",sans-serif;
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: #de1c85;
    font-weight: 100;
    padding: 1em;

}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.25rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px;
    border-color: black;
    border-style: solid;
}

a:not(.top-button) {
    color: black;
}

.scale:hover {
    transform: scale(1.2);
    color: #de1c85;
}

a:hover:not(#credits) {
    color: #de1c85;
}

body h2 {
    text-align: center;
    padding: 0.5em;
}

#y1950s {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 20px;
    
}

.event {
    width: 50%;
}


#y1960s {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 20px;
   
}

#y1970s {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#y1980s {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 20px;

}

#y1990s {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 20px;

}

#y2000s {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 20px;

}

#y2010s {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 20px;

}

h2 {
    color: #de1c85;
    background-color: white;
    margin: 35px;
}

img:not(#banner) {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    /* width: 45%; */
}

#welc {
    height: 100vh;
}

button:not(.top-button) {
    background-color: white;
    padding: 0.5rem;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    float: right;
    margin: 0.5em;
    border: 2px;
    border-style: solid;
    border-color: #de1c85;
}

.e1 {
    height:100%;
    border-right: 15px;
    border-right-color: #de1c85;
    border-style: solid;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    padding-right:15px;
}

.e2 {
    height: 100%;
    border-left: 15px;
    /* border-bottom-left-radius: 3px; */
    border-left-color: #de1c85;
    border-style:solid;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    padding-left:15px;


}

.subtitles {
    font-size: 2em;
    font-weight: 200;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2em;
    font-size: 1.25em;
}

h3 {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    background-color: #de1c85;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#credits:hover {
    color:white;
}

.top-button {
    align-self: center;
    margin: 4px;
    padding: 20px;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 200;
    color: white;
    background-color: black;
    
}
